.sub-form {

  $side-space: 10px;

  width: 100%;

  @media (max-width: 960px) {
    md-input-container { 
      margin-left: $side-space;
      margin-right: $side-space;
    }
  } 

  .md-fab {
    position: relative;
    z-index: 2;
    bottom: -25px;
    right: 20px;
    float: right;
  }

  button:disabled {
    background-color: white !important;
    .fa {
      color: green;
    }
  }

  .md-toolbar {
    padding-bottom: 20px !important;
  }

}
